state_form/NY/ny-corptax-ty23-schema-v3-0/NYSBusiness/NYSForms/FormCT612BO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile"  targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" >
<xsd:include schemaLocation="../../NYSCommon/master.xsd"/>
<xsd:include schemaLocation="SchedCT612PSHIPINFOBO.xsd"/>
<xsd:complexType name="FormCT612BO">
<xsd:complexContent>
<xsd:extension base="FormBO">
<xsd:sequence>
	<xsd:element name="CMLTV_EXCP_CNT" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PSTMRK_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ACH_RESTRICT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="IMG_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="FORM_ID_SEQ_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROW_EXPIR_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="ROW_STATUS_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CLM_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_BANK_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="DIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,15}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DCMT_RCVD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ROW_EFCTV_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="FRAUD_CK_DONE_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="SRC_CODE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_BCA_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="BR_RP_COC_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="BR_RP_EN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="BR_RP_EMP_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_EMP_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="BR_RP_RPT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_PROP_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="BR_RP_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_RECAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_NET_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_AVL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_ALLW_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_PRTN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_TOT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_OCR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_USED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_REMAIN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_RFND_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_CR_NXT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_TRNSF_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="BR_RP_DOS_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="BR_INS_LINE_1_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,35}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_INS_LINE_2_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z\s]{0,20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_INS_CTY_ADR" minOccurs="0" type="ctyAdrTypeField"/>
	<xsd:element name="BR_INS_ST_ADR" minOccurs="0" type="stateTypeField"/>
	<xsd:element name="BR_INS_ZIP_5_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_INS_ZIP_4_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_SITE_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,39}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_MNCP_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,25}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_COUNTY_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_RGN_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,16}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_SITE_CODE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_EN_NO_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="BR_RP_FTME_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="-9999999.999"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_FTJE_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="-9999999.999"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_FTSE_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="-9999999.999"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_FTDE_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="-9999999.999"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_TNEMP_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="-9999999.999"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BR_RP_PRTNR_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="BR_RPC_FTAX_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_TX_LS_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_MTX_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BR_RP_CR_PSHIP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element minOccurs="0" name="CT612PSHIPINFO" type="SchedCT612PSHIPINFOBO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>