state_form/NY/ny-corptax-ty23-schema-v3-0/NYSBusiness/NYSForms/FormCT621BO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile"  targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" >
<xsd:include schemaLocation="../../NYSCommon/master.xsd"/>
<xsd:include schemaLocation="SchedCT621EMPLISTBO.xsd"/>
<xsd:complexType name="FormCT621BO">
<xsd:complexContent>
<xsd:extension base="FormBO">
<xsd:sequence>
	<xsd:element name="CMLTV_EXCP_CNT" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PSTMRK_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ACH_RESTRICT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="IMG_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="FORM_ID_SEQ_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROW_EXPIR_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="ROW_STATUS_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CLM_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_BANK_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="DIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,15}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DCMT_RCVD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ROW_EFCTV_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="FRAUD_CK_DONE_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="SRC_CODE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_SERV_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="QEC_RD_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="QEC_CR_USED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_REM_CRYF_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_RFND_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_CRYF_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_GR_RCPTS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_RD_FUNDS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_AVL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_EMPNYS_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="18"/>
						<xsd:minInclusive value="-9999999.999"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_EMPBSE_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="18"/>
						<xsd:minInclusive value="-9999999.999"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_SHR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_SHR_ID" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,9}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_RD_SALES_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_RCPTS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_EMP_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="QEC_AVG_EMP_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_AVG_3YR_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_AVG_ELIG_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="3"/>
						<xsd:totalDigits value="11"/>
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999999.999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_EARN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_TX_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_OCR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_NET_TX_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_MIN_TX_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_CR_YR_IND" minOccurs="0" type="indicatorType09Field"/>
	<xsd:element name="QEC_IN_NY_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="QEC_LT_10M_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="QEC_RCPTS_PCT_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="QEC_RD_PCT_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="QEC_EMR_TCH_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="QEC_EMR_TCH_DESC" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,100}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_EMP_MAR_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_EMP_JUN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_EMP_SEP_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_EMP_DEC_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_TOT_EMP_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_MAR_1_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_JUN_1_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_SEP_1_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_DEC_1_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_TOT_1_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_MAR_2_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_JUN_2_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_SEP_2_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_DEC_2_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_TOT_2_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_MAR_3_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_JUN_3_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_SEP_3_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_DEC_3_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_3YR_TOT_3_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_EXP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_ALL_EXP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="QEC_EXP_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="QEC_3YR_TOT_4_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_50_PCT_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="QEC_PRTNR_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="QEC_BUS_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QEC_ACTY_NYS_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="QEC_RATIO_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element minOccurs="0" name="CT621EMPLIST" type="SchedCT621EMPLISTBO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>