state_form/NY/ny-corptax-ty23-schema-v3-0/NYSBusiness/NYSForms/FormCT3M4MBO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile"  targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" >
<xsd:include schemaLocation="../../NYSCommon/master.xsd"/>
<xsd:complexType name="FormCT3M4MBO">
<xsd:complexContent>
<xsd:extension base="FormBO">
<xsd:sequence>
	<xsd:element name="CLMD_NYS_FRNCH_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MCTD_ALLOC_PCT" minOccurs="1" type="ratio100Field"/>
	<xsd:element name="ALLOC_FRNCH_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_SRCHRG_AMT" minOccurs="1" type="positiveAmountField"/>
	<xsd:element name="PENALTY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_LATE_PAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="LATE_FIL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BAL_DUE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVRPMT_CR_NY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVRPMT_CR_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RFND_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PREPAY_B4_CR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PREPAY_CR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT222_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_PROP_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_PROP_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_PROP_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="MTA_RCPTS_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_RCPTS_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_RCPTS_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="MTA_WG_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_WG_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_WG_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="MTA_ALLOC_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="TP_SGN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="PREP_SGN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="THRDPRTY_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PP_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TP_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CMLTV_EXCP_CNT" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PSTMRK_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ACH_RESTRICT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="IMG_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="FORM_ID_SEQ_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROW_EXPIR_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="ROW_STATUS_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CLM_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_BANK_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="DIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,15}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DCMT_RCVD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ROW_EFCTV_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="FRAUD_CK_DONE_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="SRC_CODE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OVPMT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INCORP_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="FRGN_BBNY_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="PREPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVPMT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_RE_OWN_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_RE_OWN_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_RE_RNT_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_RE_RNT_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_INVENT_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_INVENT_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_TP_OWN_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_TP_OWN_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_TP_RNT_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_TP_RNT_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_SALE_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_SALE_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_RNT_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_RNT_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_ROYAL_MTA_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_ROYAL_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MTA_TOT_MTA_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="INSTALL_A_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_A_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_B_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_B_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_C_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_C_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_D_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_D_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="EXTN_PYMT_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_EXTN_PYMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OVPMT_PRR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT_FORM_TYPE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CRD_FROM_PRD_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="THRD_PRTY_DSGN_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="THRD_PRTY_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PH_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_TTLE_DESC" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_OFCR_SGN_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="PREP_LN_1_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_LN_2_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_CTY_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z\s]{0,20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ST_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_5_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_4_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_SIGN_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="PYMNT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="AUTHOFCR_FRST_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_LAST_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FIRM_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,35}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_PH_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MTA_ELC_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ELC_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_RP_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_RP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_TV_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_TV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_DGTL_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_DGTL_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="FIXED_PCT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_INTLN_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INTLN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_GAIN_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_GAIN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_N_RP_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_INT_N_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INT_N_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_N_RP_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_GAIN_N_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_GAIN_N_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_FED_ALL_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_DEBT_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_DEBT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INT_NY_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INT_NY_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_SUBDV_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_SUBDV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OTH_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OTH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NG_OTH_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NG_OTH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_GOV_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_SCTT_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_SCTT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NG_GOV_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NG_GOV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OTHSCT_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OTHSCT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_BOND_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_CBOND_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CBOND_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_BOND_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_BOND_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CORP_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CORP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NI_PCH_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NI_PCH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NI_FED_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NI_FED_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_SALES_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_NT_SLE_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NT_SLE_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MKT_GAIN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_MKT_NG_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_MKT_NG_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_OTH_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_OTHINC_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OTHINC_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NG_FIN_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NG_FIN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CMSN_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CMSN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_BRKG_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_BRKG_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ADVR_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ADVR_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CSSN_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CSSN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ACCT_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ACCT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_MGMT_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_MGMT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_AFF_CT_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_AFF_CT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INT_CC_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INT_CC_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CHRG_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CHRG_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_MERCH_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_MERCH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CRCD_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_CRCD_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OTH_CC_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OTH_CC_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INV_CO_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_INV_CO_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_RAILRD_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_RAILRD_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OPR_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_OPR_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_FRFW_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_FRFW_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_AVTN_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_AVTN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NEWSPR_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_NEWSPR_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_TELVSN_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_TELVSN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ADVRT_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ADVRT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_TRANS_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_TRANS_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ACTY_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_ACTY_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_DSCR_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_DSCR_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_INT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="BALANCE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADD_MFI_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INCR_BAL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="XS_PREPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PR_CR_MFI_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MIN_SUB_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TOT_NYS_FRNCH_AMT" minOccurs="0" type="positiveAmountField"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>