state_form/NY/ny-corptax-ty23-schema-v3-0/NYSBusiness/NYSForms/FormCT33ABO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile"  targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" >
<xsd:include schemaLocation="../../NYSCommon/master.xsd"/>
<xsd:include schemaLocation="SchedCT33ADISENTBO.xsd"/>
<xsd:complexType name="FormCT33ABO">
<xsd:complexContent>
<xsd:extension base="FormBO">
<xsd:sequence>
	<xsd:element name="CMLTV_EXCP_CNT" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PSTMRK_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ACH_RESTRICT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="IMG_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="FORM_ID_SEQ_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROW_EXPIR_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="ROW_STATUS_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CLM_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_BANK_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="DIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,15}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DCMT_RCVD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ROW_EFCTV_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="FRAUD_CK_DONE_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="SRC_CODE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OVPMT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="DIS_ENT_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="PYMNT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ALLOC_ENI_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_ON_ENI_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALLOC_BUS_INV_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_ON_CAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALT_TX_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_ON_ALT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALLOC_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_ON_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_LRGST_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_CO_PREM_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TX_ON_LIFE_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_DUE_B4_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FLR_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_FLR_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_B4_EZZEA_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="EZ_ZEA_CR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TX_AFT_EZ_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SUB_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:pattern value="[0-9]{1,4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MIN_TX_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CMB_TX_B4_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_LIFE_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_LIFE_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_DUE_B4_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_TX_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_DUE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PREPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT222_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="PENALTY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_LATE_PAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="LATE_FIL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BAL_DUE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVPMT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CR_2_NXT_PRD_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BAL_OVERPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVERPAY_CR_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RFND_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RFND_TX_CR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TX_CR_OP_NXT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ISS_ALLOC_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="DSALLW_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INT_STOCKHD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_TXBL_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_PREM_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_PREM_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_PREM_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_TXBL_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_OCN_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_OCN_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_OCN_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_OCN_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_OCN_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_PREM_ANNTY_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_ANNTY_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_ANTY_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_ANNTY_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_PREM_ANNTY_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_PREM_REIN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_REIN_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_REIN_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_REIN_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_PREM_REIN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_GROSS_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_GROSS_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_GRS_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_GROSS_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_GROSS_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_PREM_CEDED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_CEDED_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NY_CEDED_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNY_CEDED_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_PREM_CEDED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PPREM_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_NYS_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_NYS_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_NYS_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PPREM_ALL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_ALL_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_ALL_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_ALL_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_ALL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="PREM_NYS_PCT" minOccurs="0" type="ratioField"/>
	<xsd:element name="PWG_NYS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PWG_NYS_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PWG_NYS_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PWG_NYS_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="WG_NYS_ALL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PWG_ALL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PWG_ALL_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PWG_ALL_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PWG_ALL_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="WG_ALL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="WG_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="ALLOC_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="PAVG_VL_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PAVG_VL_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PAVG_VL_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PAVG_VL_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="AVG_VL_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIAB_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIAB_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIAB_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIAB_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIAB_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNET_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNET_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNET_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNET_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NET_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSALLOC_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSALLOC_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSALLOC_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSALLOC_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="S_ALLOC_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PASST_AVG_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PASST_AVG_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PASST_AV_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PASST_AVG_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ASST_AVG_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFMV_ADJ_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFMV_ADJ_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFMV_ADJ_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFMV_ADJ_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FMV_ADJ_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNASST_ANNUAL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNASST_ANN_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ASST_ANN_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNASST_ANN_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NONASST_ANNUAL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_ASST_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIAB_FMV_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIAB_FMV_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLB_FMV_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIAB_FMV_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIAB_FMV_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_CAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BUS_INVCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PASST_RES_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PASST_RES_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ASST_RES_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PASST_RES_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ASST_RES_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ADJ_BUS_INVCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALLOC_INVCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFED_TXBL_INC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFED_INC_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFED_INC_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PFED_INC_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FED_TXBL_INC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_RCVD_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_DED_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_DED_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_DED_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DVND_RCVD_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_INT_INC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_INC_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_INC_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDVD_INC_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DVND_INT_INC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PINT_STCKHLDRS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="STKHLDRS_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="STKHLDRS_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="STKHLDRS_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INT_STCKHLDRS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PADJ_GAIN_LOSS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PADJ_GL_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PADJ_GL_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PADJ_GL_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ADJ_GAIN_LOSS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PDED_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DED_SUBCP_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DED_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DED_SUBCP_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DED_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNYS_FRAN_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_FRAN_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_FRAN_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_FRAN_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_FRAN_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_DED_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_DED_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_DED_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_DED_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_DED_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_INCL_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_ADD_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_ADD_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_ADD_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_INCL_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PACRS_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PACRS_DED_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACRS_DED_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PACRS_DED_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACRS_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="POTH_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="POTH_ADD_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="POTH_ADD_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="POTH_ADD_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_ADD_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TOT_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PIDC_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="IDC_SUBCP_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="IDC_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="IDC_SUBCP_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="IDC_SUBCAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PHALF_DVND_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="HLF_DVND_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="HLF_DVND_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="HLF_DVND_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="HALF_DVND_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PGAIN_INSTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="GAIN_INST_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="GAIN_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="GAIN_INST_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="GAIN_INSTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_NOL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_INCL_SUBT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_INCL_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_INCL_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_INCL_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_INCL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PSHL_DED_SUBT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_DED_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_DED_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_DED_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHL_DED_SUBT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNYS_DPRC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_DPRC_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_DPRC_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_DPRC_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_DPRC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="POTH_SUBT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_SUBT_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_SUBT_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_SUBT_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_SUBT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TOT_SUBT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ENI_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALC_ENI_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OFCR_SAL_OTH_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OFCR_SAL_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OFCR_SAL_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OFCR_SAL_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OFCR_SAL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALT_BASE_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="STRY_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALT_BASE_DED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALT_BASE_MPLY_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ALLOC_ALT_BASE_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIFE_INS_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_PRM_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_PRM_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_PRM_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_INS_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNLIFE_ACC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_ACC_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_ACC_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_ACC_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NLIFE_ACC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PNLIFE_OTH_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_OTH_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_OTH_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_OTH_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NLIFE_OTH_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_LIFE_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PLIFE_1505PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LFE_1505_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LFE_1505_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LFE_1505_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LIFE_1505_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PACCHLTH_1505_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACCHLTH_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACCHLTH_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACCHLTH_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACCHLTH_1505_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="POTH_1505_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_1505_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_1505_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_1505_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_1505_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_LIFE_1505_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PTOT_OTH_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_PRM_SUB_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_PRM_SUBTL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_PRM_ELM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_OTH_PREM_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="PREM_LMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_A_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_A_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_B_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_B_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_C_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_C_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_D_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_D_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_E_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_E_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OVPMT_PRR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CR_FRM_PRD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="PREPAY_CR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TPPAY_NPINCL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT601_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT601_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT602_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT602_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_EZ_ZEA_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FIRE_PREM_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FIRE_PREM_CR_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT33_R_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT33_R_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT33_1_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT33_1_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT41_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT41_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT43_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT43_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT44_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT44_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT238_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT238_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT249_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT249_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT250_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT250_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT501_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT501_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT604_TR_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT604_TR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT606_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT606_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT607_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT607_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT611_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT611_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT611_1_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT611_1_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT612_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT612_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT613_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT613_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT631_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT631_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT633_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT633_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT634_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT634_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DTF624_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="DTF624_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="DTF630_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="DTF630_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_CR_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="OTH_CR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TOT_OTH_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_TX_CR_RFND_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="REIT_RIC_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="PRIM_CORP_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,39}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PRIM_CORP_EIN_ID" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,9}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="P_CORP_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,39}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CORP_EIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,9}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AMEND_FNL_FED_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="FINAL_FED_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="NET_LSS_CRYBCK_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CAP_LSS_CRYBCK_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="FED_1139_FILED_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="AMND_FED_1120L_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="AMND_FED_1120P_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="NYS_NOL_PRR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FED_NOL_PRR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_NOL_FTR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FED_NOL_FTR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="UNAUTH_ART_33_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="THRD_PRTY_DSGN_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="THRD_PRTY_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PH_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRDPRTY_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_FRST_NAME" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_LAST_NAME" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_TTLE_DESC" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TP_EMAIL_ADR" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_PH_NMBR" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_OFCR_SGN_DT" minOccurs="1" type="dateField"/>
	<xsd:element name="FIRM_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,35}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_LN_1_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_LN_2_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_CTY_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z\s]{0,20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ST_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_5_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_4_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PP_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_SIGN_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="CONVICTED_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="REMIC_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="CT611_2_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT611_2_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT643_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT643_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT33_2_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT33_2_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ADD_MFI_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INCR_BAL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BALANCE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="XS_PREPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PR_CR_MFI_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INCORP_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="CT651_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT651_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT652_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT652_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FRGN_BBNY_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="TOT_NYS_NMBR" minOccurs="0" type="ratio99999Field"/>
	<xsd:element name="CT662_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="CT662_AMT" minOccurs="0" type="amountField"/>
	<xsd:element minOccurs="0" name="CT33ADISENT" type="SchedCT33ADISENTBO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>