state_form/NY/ny-corptax-ty23-schema-v3-0/NYSBusiness/NYSForms/FormCT184MBO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile"  targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" >
<xsd:include schemaLocation="../../NYSCommon/master.xsd"/>
<xsd:complexType name="FormCT184MBO">
<xsd:complexContent>
<xsd:extension base="FormBO">
<xsd:sequence>
	<xsd:element name="CMLTV_EXCP_CNT" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PSTMRK_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ACH_RESTRICT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="IMG_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="FORM_ID_SEQ_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROW_EXPIR_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="ROW_STATUS_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CLM_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_BANK_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="DIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,15}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DCMT_RCVD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ROW_EFCTV_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="FRAUD_CK_DONE_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="SRC_CODE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ALLOC_TAX_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="NET_NY_TAX_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CRD_FROM_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MTA_SRCHRG_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_LATE_PAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="LATE_FIL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVRPMT_CR_NY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PREPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BAL_DUE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RFND_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MCTD_ALLOC_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="CT222_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MTA_UNDPMT_PEN_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVRPMT_CR_MTA_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OVPMT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INCORP_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="FRGN_BBNY_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="TOT_PREPAY_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OVPMT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MCTD_GEN_TRANS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_GEN_TRANS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MCTD_A_ALLOC_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="MCTD_WRK_DAY_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,9}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NYS_WRK_DAY_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,9}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MCTD_ALLOC_P2_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="MCTD_GRS_OPER_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_GRS_OPER_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MCTD_GRS_LOCAL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_GRS_LOCAL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MCTD_TOT_GRS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NYS_TOT_GRS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="MCTD_ALLOC_P3_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="INSTALL_A_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_A_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_B_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_B_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_C_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_C_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_D_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_D_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="EXTN_PYMT_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_EXTN_PYMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OVPMT_PRR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CRD_FRM_PRD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="THRD_PRTY_DSGN_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="THRD_PRTY_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PH_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRDPRTY_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_TTLE_DESC" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_OFCR_SGN_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="FIRM_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,35}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_LN_1_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_LN_2_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_CTY_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z\s]{0,20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ST_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_5_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_4_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PP_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_SIGN_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="AUTHOFCR_FRST_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_LAST_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PYMNT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TP_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_PH_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BALANCE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADD_MFI_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INCR_BAL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="XS_PREPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PR_CR_MFI_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TP_SGN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="PREP_SGN_IND" minOccurs="0" type="switchIndicatorField"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>