state_form/NY/ny-corptax-ty23-schema-v3-0/NYSBusiness/NYSForms/FormCT3SBO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile"  targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" >
<xsd:include schemaLocation="../../NYSCommon/master.xsd"/>
<xsd:complexType name="FormCT3SBO">
<xsd:complexContent>
<xsd:extension base="FormBO">
<xsd:sequence>
	<xsd:element name="FIXED_MIN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_TX_CR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="RECAP_TX_CR_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="TOT_TX_DUE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PREPAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PENALTY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_LATE_PAY_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="LATE_FIL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BAL_DUE_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CR_2_NXT_PRD_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RFND_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CT222_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INSTL_CT5_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INSTL_25PCT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SHR_HLDR_NMBR" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,3}"/>
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RVKE_SUB_S_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="TX_AFTER_RECAP_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CORP_PROP_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="CNTRL_INT_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="ORD_INC_TOT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NETINC_RNT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NETINC_OTHRNT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="GAIN_SEC1231_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTHER_INC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="FED_FORM_IND" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,25}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BUS_ALLOC_R_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="IRC_338_453_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="ACC_ADJ_BEG_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_ADJ_BEG_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INT_INC_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ORD_DIV_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ROYALTY_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NET_SHRT_GL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="NET_LNG_GL_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LOAN_BEG_SHR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="LOAN_END_SHR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ASST_BEG_R_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ASST_END_R_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHR_BEG_LOAN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHR_END_LOAN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHRHLDRS_BEG_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_ADJ_ORD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_ADJ_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_ADJ_ADD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_ADJ_LOSS_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_ADJ_RED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_ADJ_RED_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_ADJ_TOT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_ADJ_TOT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHRHLDRS_TOT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_ADJ_DSTR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_ADJ_DSTR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHRHLDRS_DSTR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_ADJ_END_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OTH_ADJ_END_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="SHRHLDRS_END_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT3S_660_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="NYS_RCPTS_AMT" minOccurs="1" type="positiveAmountField"/>
	<xsd:element name="TP_SGN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="PREP_SGN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="THRDPRTY_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PP_EMAIL_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TP_EMAIL_ADR" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,75}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AMEND_FNL_FED_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="FINAL_FED_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="CMLTV_EXCP_CNT" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PSTMRK_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ACH_RESTRICT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="IMG_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="FORM_ID_SEQ_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,1}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ROW_EXPIR_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="ROW_STATUS_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CLM_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="RTN_BANK_CALC_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="DIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:pattern value="[\-?0-9]{1,15}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DCMT_RCVD_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="ROW_EFCTV_TS" minOccurs="0" type="timeStampField"/>
	<xsd:element name="FRAUD_CK_DONE_IND" minOccurs="0" type="indicatorField"/>
	<xsd:element name="SRC_CODE" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,3}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OVPMT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INCORP_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="FRGN_BBNY_DATE" minOccurs="0" type="dateField"/>
	<xsd:element name="PRIN_BUS_ACTY_DESC" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SUB_S_EXPIR_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="IRS_AUD_YRS" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,255}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ACCTG_METH_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="INSTL_TX_DUE_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_A_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_A_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_B_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_B_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_C_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_C_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="INSTALL_D_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_INSTALL_D_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="EXTN_PYMT_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="REQ_EXTN_PYMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OVPMT_PRR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TX_LESS_PREPAY_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="BAL_INCL_PEN_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="TOT_AMT_DUE_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="OVPMT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="THRD_PRTY_DSGN_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="THRD_PRTY_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PH_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="THRD_PRTY_PIN_NMBR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_TTLE_DESC" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_OFCR_SGN_DT" minOccurs="1" type="dateField"/>
	<xsd:element name="PREP_LN_1_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_LN_2_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,30}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_CTY_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z\s]{0,20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ST_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_5_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,5}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_ZIP_4_ADR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Za-z0-9\s]{0,4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PREP_SIGN_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="PYMNT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="AUTHOFCR_FRST_NAME" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTHOFCR_LAST_NAME" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,138}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FIRM_NAME" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,35}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AUTH_PH_NMBR" minOccurs="1">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value=".{0,12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NYS_S_EFCTV_DT" minOccurs="0" type="dateField"/>
	<xsd:element name="NYS_C_PRV_YR" minOccurs="0">
		<xsd:complexType>
			<xsd:attribute name="claimed">
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:pattern value="[0-9]{1,4}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="QETC_ENT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MFG_ENT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="REMIC_IND" minOccurs="0" type="indicatorType03Field"/>
	<xsd:element name="CONVICTED_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="SALES_ELC_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_ELC_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_RP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_RP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_TV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_TV_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_DGTL_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_DGTL_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="FIXED_PCT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INT_RP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_RP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_RP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_RP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_N_RP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_N_RP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_N_RP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_N_RP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_DEBT_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_MNCP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_MNCP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_OTH_ST_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_ST_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_GOV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_GOV_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_GOV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_GOV_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_SCTT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_SCTT_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_BOND_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_BOND_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_BOND_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_BOND_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_BOND_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_BOND_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_PCHS_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_PCHS_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_FED_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_FED_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_SALES_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_SALES_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MKT_GAIN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MKT_GAIN_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_OTH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_OTH_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_OTH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_OTH_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CMSN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CMSN_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BRKG_INT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BRKG_INT_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVR_SVC_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVR_SVC_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CSSN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="CSSN_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ACCT_MAINT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ACCT_MAINT_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MGMT_FEE_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MGMT_FEE_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_AFF_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_AFF_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_CRCD_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_CRCD_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="FEE_CRCD_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="FEE_CRCD_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MERCH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MERCH_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_CRCD_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_CRCD_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_CRCD_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_CRCD_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_INV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_INV_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_TRCK_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_TRCK_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_VSSL_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_VSSL_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_FRFW_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_FRFW_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_AVTN_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPT_AVTN_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVRT_PPR_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVRT_PPR_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVRT_TV_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVRT_TV_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVRT_OTH_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ADVRT_OTH_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PIPE_TRANS_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="PIPE_TRANS_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="DSCR_ADJ_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="DSCR_ADJ_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_N_RP_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="GAIN_N_RP_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INT_FED_ALL_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INT_GOV_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INT_BOND_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INT_SALES_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MKT_GAIN_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="INT_OTH_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="RCPTS_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RCPTS_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RNT_PROP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="RNT_PROP_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ROYAL_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ROYAL_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="SALES_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="BUS_ALLOC_PCT" minOccurs="0" type="ratio100Field"/>
	<xsd:element name="OTH_BUS_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_BUS_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_DEBT_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_MNCP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_MNCP_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="INT_OTH_ST_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="GAIN_ST_NYS_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="FED_FRM_TX_PD_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACTY_QSSS_OTH_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MR_SC_REF_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="MR_SC_CR_NXT_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="OTH_INT_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="MULTI_PSHIP_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="NO_RCPTS_IND" minOccurs="0" type="switchIndicatorField"/>
	<xsd:element name="TOT_GFT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="GLB_INTGB_ALL_AMT" minOccurs="0" type="positiveAmountField"/>
	<xsd:element name="ACC_EPRFT_BEG_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_EPRFT_TOT_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_EPRFT_DSTR_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="ACC_EPRFT_END_AMT" minOccurs="0" type="amountField"/>
	<xsd:element name="CT227_IND" minOccurs="0" type="switchIndicatorField"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>